* {
	margin: 0;
	padding: 0;
	/* cursor: none; */
	box-sizing: border-box;
}


body {
	font-family: 'Raleway', sans-serif;
}

img {
	vertical-align: bottom;
}

a {
	cursor: url(images/sharpie_cursor.png), pointer;
}

header h1 {
	font-family: 'Megrim', serif;
	text-align: center;
	color: white;
	font-size: 4.5rem;
	background-color: black;
	padding: 0.75rem;
	margin-bottom: 0;
	width: 100%;
}

#current-link a {
	text-decoration: underline;
	text-decoration-color: #c46465;
}

/* Navigation Section */

#toggle-menu {
	display: none;
}

.navbar {
	list-style: none;
	padding-inline-start: 0;
	margin: 0;
	padding: 1rem 0;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 2;
	background-color: rgba(255, 255, 255, 0.8);
}

.navbar li {
	font-family: 'Megrim', serif;
	font-size: 2rem;
	width: 205px;
	text-align: center;
}

.navbar a {
	/* display: inline-block; */
	text-decoration: none;
	color: black;
	/* vertical-align: middle; */
	/* padding: 20px 40px; */
}

.navbar a:hover {
	text-decoration: underline;
	text-decoration-color: #c46465;
}

.avatar {
	width: 6rem;
	height: auto;
	border-radius: 50%;
	vertical-align: middle;
}

/* Header Section */

header {
	margin-top: 128px;
}

.header-home {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	background-color: black;
}

.header-text {
	flex: 1;
	text-align: center;
	/* background-color: black; */
	color: white;
	/* padding: 73px 3rem; */
	/* width: 50%; */
}

.sean-working {
	flex: 1.06;
	/* width: 50%;
  height: auto; */
}

.sean-working img {
	width: 100%;
	/* vertical-align: bottom; */
}

.header-text h1 {
	font-size: 6rem;
	margin: 0;
	padding-top: 0;
}

.header-text p {
	font-family: 'Raleway', sans-serif;
	font-size: 1rem;
	line-height: 2.5;
	padding: 0 6rem 1rem 6rem;
	margin-top: 0;
}

/* Original format:

header {
  height: 30rem;
  width: 100%;
  background-color: black;
}

.header-text {
  color: white;
  text-align: center;
  position: absolute;
  top: 17rem;
  left: 5rem;
  width: 40%;
  z-index: 3;

  header img {
  height: 30rem;
  width: auto;
  float: right;
  background-color: black;
  }

  .black-square {
  width: 30%;
  height: 10rem;
  box-shadow: 50px -10px 40px black;
  position: absolute;
  top: 520px;
  left: 260px;
  z-index: 1;
  }
*/

/* Images Section */

.image-tiles {
	display: flex;
	flex-flow: row wrap;
}

.image-tiles img {
	width: 25%;
	height: auto;
	/* vertical-align: bottom; */
	flex: 1;
}

#big-image {
	width: 50%;
	height: auto;
}

#four-squares {
	display: inline-flex;
	flex-flow: row wrap;
	/* vertical-align: bottom; */
	width: 50%;
}

#four-squares img {
	width: 50%;
	height: auto;
}

/* Footer Section */

footer {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin: 3rem 0;
}

.social-media {
	/* width: 360px; */
	text-align: center;
}

.social-media a {
	color: black;
	text-decoration: none;
}

#small-icon.fa-linkedin {
	padding: 0 2rem;
}

.social-media a:hover {
	color: #c46465;
}

.fa-linkedin {
	padding: 0 3.5rem;
}

.contact-info {
	font-family: 'Raleway', sans-serif;
	line-height: 2;
}

.contact-info a {
	text-decoration: none;
	color: #941212;
}

#small-icon {
	display: none;
}

/* WORK PAGE */

#work-sections {
	display: flex;
}

#work-sections .container {
	flex: 1;
}

#work-sections img {
	width: 100%;
}

#work-sections .content {
	position: relative;
	overflow: hidden;
}

#work-sections .overlay {
	position: absolute;
	text-align: center;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.6);
	color: white;
	opacity: 0;
	transition: 0.75s ease;
	display: flex;
	align-items: center;
	justify-content: center;
}

.overlay-text {
	border: solid white 2px;
	width: 45%;
	height: 45%;
	border-radius: 50%;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 2rem;
}

.overlay-text h2 {
	font-size: 1.5rem;
	text-align: center;
}

#work-sections .overlay:hover {
	opacity: 1;
}

.content-image {
	transform: scale(1);
	transition: 1s ease;
}

.content:hover .content-image {
	transform: scale(1.2);
}

/* SENIOR PROJECTS PAGE */

.sp-header {
	background-color: black;
	color: white;
	text-align: center;
	padding-bottom: 1.5rem;
}

.sp-header p {
	font-size: 1.25rem;
}

video.biking-vid {
	width: 100%;
	vertical-align: bottom;
	display: block;
}

#senior-projects {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.sp-item {
	width: 50%;
}

.sp-item img {
	width: 100%;
}

.project-container {
	display: inline-flex;
	align-items: center;
}

.sp-text {
	padding: 0 3rem;
}

.sp-text h2 {
	padding-bottom: 1.5rem;
	font-size: 2.25rem;
}

.sp-text p, .book-description p {
	line-height: 2;
	font-size: 1.15rem;
}

div.book-description {
	margin-left: 4rem; 
	background-color: rgb(227, 231, 231);
	padding: 1rem;
}

div.book-description h2 {
	padding-bottom: 1.5rem;
	font-size: 1.75rem;
}

.book-description p {
	font-size: 1rem;
}

/* code copied from medium.com */

.spur-carousel-wrapper {
	overflow: hidden;
}

.spur-carousel {
	transform-style: preserve-3d;
}

.spur-photo {
	opacity: 0;
	position: absolute;
	top: 0;
	width: 100%;
	margin: auto;
	z-index: 100;
	transition: transform 0.5s, opacity 0.5s, z-index 0.5s;
}

.spur-photo.initial, .spur-photo.active {
	opacity: 1;
	position: relative;
	z-index: 900;
}

.spur-photo.prev, spur-photo.next {
	z-index: 800;
}

.spur-photo.prev {
	transform: translateX(-100%);
}

.spur-photo.next {
	transform: translateX(100%);
}

.spur-button-prev, 
.spur-button-next {
	position: absolute;
	top: 50%;
	font-size: 3.5rem;
	color: rgba(0, 0, 0, 0.5);
	transform: translateY(-50%);
	cursor: url("images/sharpie.png"), pointer;
	z-index: 1001;
}

.spur-button-prev {
	left: 1rem;
}

.spur-button-next {
	right: 1rem;
}
/* fix z-indexes...do they need to be so high? */

/* end copied code */


.right-align {
	text-align: right;
}

.book {
	width: 70%;
	border: solid black 1rem;
	margin: 5rem auto;
}

.book-cover {
	display: flex;
	align-items: center;
}

.book-cover img {
	width: 50%;
}

.book-description-mobile {
	display: none;
}

/* CONTACT PAGE */

#contact-form table {
	margin: 4rem auto;
}

td.labels {
	width: 100px;
	font-size: 1.2rem;
}

#contact-form table,
textarea {
	width: 850px;
}

#name,
#email,
#message {
	width: 100%;
	margin-bottom: 5px;
	padding: 5px;
}

#message::placeholder {
	font-family: 'Raleway', sans-serif;
}

#message {
	height: 160px;
	font-family: 'Raleway', sans-serif;
	padding: 5px;
}

#contact-form td {
	vertical-align: top;
}

.contact-buttons {
	text-align: right;
}

.contact-buttons input {
	width: 100px;
	padding: 5px;
	font-family: 'Raleway', sans-serif;
}

#contact-form img {
	width: 270px;
}

#contact-form td[rowspan="5"] {
	width: 290px;
}

#contact-form-mobile {
	display: none;
}

.thanks-redirect {
	margin: 6rem auto;
	text-align: center;
	font-size: 1.5rem;
	width: 700px;
	line-height: 1.5;
	max-width: 90%;
}



/* ABOUT PAGE */

#about {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 2rem 0;
}

.sean {

}

.sean img {
	width: 100%;
	max-width: 500px;
	min-width: 50%;
	padding-left: 3rem;
	/* align-self: center; */
}

.about-info {
	padding: 1rem 0;
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
}

.about-info p {
	padding: 1rem 4rem;
	font-size: 1.5rem;
}

.about-info span {
	font-weight: 700;
}

/* .bold {
  font-weight: bold;
} */

/* .sharpie {
  position: absolute;
  bottom: -28%;
  right: 5%;
  border-radius: 50%;
  border: white solid 7px;
  width: 17%;
} */
/* Rework about section for scaling */

/* Media Queries */

@media screen and (min-width: 1700px) {
	.navbar a {
		font-size: 3rem;
	}

	.navbar li {
		width: 250px;
	}

	.avatar {
		width: 10rem;
	}

	header {
		margin-top: 190px;
	}

	.header-text h1 {
		font-size: 10rem;
	}

	.header-text p {
		font-size: 1.7rem;
	}

	.contact-info p {
		font-size: 1.5rem;
	}
}

@media screen and (max-width: 1135px) {
	.header-text h1 {
		font-size: 5rem;
	}

	.header-text p {
		font-size: 1rem;
	}

	.sean {
		width: 30%;
		margin: 2rem 0;
	}

	/* img.sharpie {
    bottom: -12%;
    right: 10%;
  } */

	.about-info p {
		font-size: 1.2rem;
	}

	div.book-description h2 {
		font-size: 1.25rem;
	}

	div.book-description p {
		font-size: 0.75rem;
		line-height: 1.75;
	}
}

@media screen and (max-width: 910px) {
	/* .navbar {
    display: none;
  } */

	.hide {
		display: none;
	}

	.navbar {
		position: fixed;
		flex-direction: column;
		margin-top: 100px;
		background-color: white;
		line-height: 1.5;
		border-top: solid gray 1px;
		border-bottom: solid gray 1px;
		padding: 0;
	}

	li.nav-links:hover {
		background-color: lightgray;
		width: 100%;
		text-decoration: none;
	}

	.navbar a:hover {
		text-decoration: none;
	}

	.hidden-li {
		display: none;
	}

	#toggle-menu {
		display: block;
		width: 100%;
		height: 100px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: fixed;
		z-index: 2;
		top: 0;
		background-color: white;
	}

	.fa-bars {
		margin-left: 2rem;
	}

	.fa-bars:hover {
		cursor: pointer;
	}

	.avatar_mobile {
		margin-right: 2rem;
		width: 4rem;
		border-radius: 50%;
	}

	/* .navbar li {
    font-size: 1.5rem;
  } */

	.avatar {
		width: 5rem;
	}

	header {
		margin-top: 100px;
		
	}

	header.header-home {
		background: no-repeat url("/images/sean_working.jpeg");
		background-size: 100%;
		background-position: center;
	}

	.header-text h1 {
		background-color: none;
		padding-top: 1rem;
	}

	.header-home {
		flex-direction: column;
		padding-top: 2rem;
	}

	.header-text p {
		margin-bottom: 0;
		font-size: 1.2rem;
		text-shadow: #000 1px 0 10px;
	}

	.sean-working {
		/* width: 100%; */
		display: none;
	}

	#big-icon {
		display: none;
	}

	#small-icon {
		display: inline;
	}

	#small-icon {
		text-decoration: none;
	}

	.fa a:hover,
	a:focus,
	a:active,
	a:visited,
	.fa a:link {
		text-decoration: none;
	}

	.contact-info {
		font-size: 12px;
		/* padding-right: 2rem; */
	}

	#contact-form td[rowspan="5"] {
		display: none;
	}

	#contact-form table,
	textarea {
		width: 500px;
	}

	.sean {
		flex: 1;
	}

	#work-sections {
		flex-direction: column;
	}

	.about-info {
		flex: 1.5;
		padding: 0;
	}

	.about-info p {
		padding: 1rem 2.5rem;
		font-size: 1rem;
	}

	section.book {
		width: 100%;
		margin: 0;
	}

	.sp-text {
		padding: 1rem;
	}

	.sp-text h2 {
		font-size: 1.25rem;
	}

	.sp-text p {
		font-size: 0.75rem;
		line-height: 1.5rem;
	}

}



@media screen and (max-width: 540px) {
	
	.header-text h1 {
		font-size: 4rem;
	}

	.sp-header p {
		font-size: 1.5rem;
		padding: 0 2rem;
		line-height: 1.5;
	}

	.header-home {
		padding-top: 1rem;
	}

	.header-text p {
		line-height: 2;
		padding: 0 1.5rem 1.5rem 1.5rem;
	}

	#big-image,
	#four-squares {
		width: 100%;
	}

	.image-tiles img {
		width: 50%;
	}

	#contact {
		flex-direction: column;
	}

	.social-media {
		padding-bottom: 1rem;
	}

	.contact-info {
		text-align: center;
		padding: 0 2rem;
		margin-top: 1rem;
	}

	#contact-form {
		display: none;
	}

	#contact-form-mobile {
		display: block;
		padding: 2rem;
	}

	#contact-form-mobile input {
		font-size: 1rem;
		padding: 8px;
		margin-bottom: 1rem;
	}

	#about {
		flex-direction: column-reverse;
		margin-bottom: 0;
		padding-bottom: 0;
	}

	.sean {
		width: 80%;
	}

	.sean img {
		padding-left: 0;
	}

	#work-sections {
		flex-direction: column;
	}

	#work-sections .overlay:hover {
		opacity: 0;
	}



	#senior-projects {
		flex-direction: column;
		width: 100%;
	}

	#senior-projects .sp-item {
		width: 100%;
	}

	.project-container {
		flex-direction: column-reverse;
	}

	.sp-text {
		padding: 1.5rem;
	}

	.sp-text h2 {
		font-size: 1.75rem;
	}

	.sp-text p {
		font-size: 1rem;
	}

	.project-container h2, .project-container p {
		text-align: left;
	}

	.book {
		border: solid black 10px;
	}

	.book-description {
		display: none;
	}

	.book-description-mobile {
		display: block;
	}


}
